{% extends "base.html" %}
{% block title %}Contact Us | WeeklyGameVault{% endblock %}

{% block content %}
<div class="form-container">
  <h2>Contact Us</h2>
  <p>If you have any questions, feel free to reach out to us using the form below.</p>

  <form action="/contact" method="POST">
    <div class="mb-3">
      <label for="nameInput" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="nameInput"
        name="name"
        required
      />
    </div>
    <div class="mb-3">
      <label for="emailInput" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="emailInput"
        name="email"
        required
      />
    </div>
    <div class="mb-3">
      <label for="messageInput" class="form-label">Message</label>
      <textarea
        class="form-control"
        id="messageInput"
        name="message"
        rows="5"
        required
      ></textarea>
    </div>

    <!-- Google reCAPTCHA v2 checkbox -->
    <div class="mb-3">
      <div class="g-recaptcha" data-sitekey="6LfnWKcqAAAAAF8WH3j_2iAjQ-bVYRG8pXRz04HX"></div>
    </div>

    <button type="submit" class="btn btn-primary">Send Message</button>
  </form>
</div>
{% endblock content %}

{% block extra_scripts %}
<!-- Google reCAPTCHA v2 script -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock extra_scripts %}
